jade      968473164  9  6 f   -     -     -         3493    0    0 
jade      968473194  9  5 f   -     -     -         3493    0    0 
jade      968473211  9  4 cc  kf    -     -         3493   20    0 
jade      968473266  9  3 f   -     -     -         3473    0    0 
jade      968473292  9  2 Bf  -     -     -         3473   10    0 
jade      968473309  9  1 Bf  -     -     -         3463    5    0 
jade      968473343  8  8 f   -     -     -         3458    0    0 
jade      968473357  8  7 f   -     -     -         3458    0    0 
jade      968473368  8  6 f   -     -     -         3458    0    0 
jade      968473404  8  5 rc  k     f     -         3458   80    0 
jade      968473456  8  4 f   -     -     -         3378    0    0 
jade      968473480  8  3 Q   -     -     -         3378    0    0 
jade      968475000 10  3 c   k     kf    -         3378   10    0 
jade      968475027 10  2 Bk  b     bf    -         3368  170    0 
jade      968475069 10  1 Bf  -     -     -         3198    5    0 
jade      968475116 10 10 f   -     -     -         3193    0    0 
jade      968475180 10  9 f   -     -     -         3193    0    0 
jade      968475219 10  8 f   -     -     -         3193    0    0 
jade      968475269 10  7 f   -     -     -         3193    0    0 
jade      968475324 10  6 f   -     -     -         3193    0    0 
jade      968475388 10  5 f   -     Q     -         3193    0    0 
jade      968631161  5  2 Bf  -     -     -         3273   10    0 
jade      968631181  5  1 Bc  kf    -     -         3263   10    0 
jade      968631199  5  5 c   k     f     -         3253   10    0 
jade      968631218  5  4 cc  f     -     -         3243   40    0 
jade      968631239  5  3 cc  kf    -     -         3203   45    0 
jade      968631257  5  2 Bc  k     k     f         3158   35    0 
jade      968631274  5  1 Bc  k     b     -         3123  150  230 
jade      968631292  5  5 f   -     -     -         3203    0    0 
jade      968631301  5  4 f   -     -     -         3203    0    0 
jade      968631318  5  3 cc  b     b     k         3203  625    0 8c Th
jade      968631341  5  2 Bc  k     k     b         2578  140  315 Tc Ks
jade      968631370  5  1 Bf  -     -     -         2753    5    0 
jade      968631378  5  5 cc  c     f     -         2748  185    0 
jade      968631405  5  4 cc  r     k     c         2563 1210    0 Jc Js
jade      968631432  5  3 r   k     k     f         1353   35    0 
jade      968631453  5  2 Bf  -     -     -         1318   10    0 
jade      968631477  5  1 Bf  -     -     -         1308    5    0 
jade      968631508  5  5 f   -     -     -         1303    0    0 
jade      968631520  5  4 rr  k     k     k         1303  355  720 5d 5s
jade      968631545  5  3 cc  k     bc    k         1668  605 1260 Ks 2s
jade      968631573  5  2 Bf  -     -     -         2323   10    0 
jade      968631594  5  1 Bc  kf    -     -         2313   35    0 
jade      968631618  5  5 cc  f     -     -         2278   55    0 
jade      968631644  6  4 f   -     -     -         2223    0    0 
jade      968631664  6  3 f   -     -     -         2223    0    0 
jade      968631678  6  2 Bk  kc    k     k         2223   45  105 2d 5d
jade      968631707  7  1 Bc  kf    -     -         2283   45    0 
jade      968631728  6  6 c   rcA   -     -         2238 2238    0 Td Qd
